


<template name="spotSubmit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="pnumber">Parking Number</label>
      <div class="controls">
        <input name = "pnumber" id = "pnumber" type="text" value="" placeholder="Parking Number" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
        <select id="buildings">
          <option value = ""> Select Building</option>
          {{#each buildings}}
            <option id="bvalue" value = "{{bname}}">{{bname}}</option>
          {{/each}}
        </select>
    </div>
    <div class="form-group">
      <label class for="status">Status</label>
      <div class="controls">
        <input name = "status" id = "status" type="text" value="" placeholder="Initial Status" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="submit" class="btn btn-primary"/>
  </form>
</template>
